## Simple returns and log returns

In [3]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.DataFrame(index=[2016, 2017, 2018], data = [100, 50, 95], columns=["Price"])
df

      Price
2016    100
2017     50
2018     95

In [5]:
simplereturns = df.pct_change().dropna()
simplereturns

      Price
2017   -0.5
2018    0.9

In [6]:
simplereturns.mean()

Price    0.2
dtype: float64

### Mean returns are misleading as crazy

In [8]:
np.log(df/df.shift(1)).dropna()

         Price
2017 -0.693147
2018  0.641854